.header-admin {
  font-family: Countryhouse;
  font-size: 25px;
  color: #673ab7;
  height: 64px;
  background: rgba(145, 188, 145, 0.3);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 24%);
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  line-height: 64px;
}

.header-admin__routing-pages {
  display: table-cell;
  vertical-align: middle;
  width: 200px;
  justify-content: space-between;
  display: flex;
}

.header-admin__category-btn, .header-admin__words-btn, .header-admin__logout {
  cursor: pointer;
  transition: 0.3s;
}

.header-admin__category-btn:hover, .header-admin__words-btn:hover, .header-admin__logout:hover {
  transform: scale(1.1);
}

.header-admin__logout {
  color: #de6a45;
}
