.categories {
  position: absolute;
  margin-top: 120px;
  /* top: 50%; */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  gap: 52px;
  justify-content: center;
  // display: none;
}

.categories__title {
  font-family: 'Countryhouse';
  font-size: 62px;
  // text-align: center;
  color: #8b7676;
}

.categories__menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 65px;
  justify-content: center;
}

@media (max-width: 1035px) {
  .categories {
    margin-top: 113px;
  }
}

@media (max-width: 960px) {
  .categories {
    margin-top: 47px;
  }
}

@media (max-width: 733px) {
  .categories {
    // margin-top: 60px;
  }
}

@media (max-width: 471px) {
  .categories {
    // margin-top: 67px;
   }
}

@media (max-width: 351px) {
  .categories {
    // top: 155%;
   }
}
