.categories {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  // margin: 50px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  gap: 52px;
  justify-content: center;



  // display: none;
}

.categories__title {
  font-family: 'Countryhouse';
  font-size: 62px;
  // text-align: center;
  color: #8b7676;
}

.categories__menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 65px;
  justify-content: center;
}

@media (max-width: 1035px) {
  .categories {
      top: 60%;
  }
}

@media (max-width: 960px) {
  .categories {
      top: 55%;
  }
}

@media (max-width: 733px) {
  .categories {
    top: 74%;
  }
}

@media (max-width: 471px) {
  .categories {
    top: 60%;
   }
}

@media (max-width: 351px) {
  .categories {
    top: 155%;
   }
}
