.point {
  width: 50px;
  animation: dance-point 1s linear infinite 500ms;
}

@keyframes dance-point {
  0%, 100% {
      transform: rotate(0);
  }
  25% {
    transform: rotate(-6deg);
  }
  75% {
      transform: rotate(6deg);
  }
}

@media (max-width: 569px) {
  .point {
    width: 30px;
  }
}

@media (max-width: 400px) {
  .point {
    width: 27px;
  }
}
