/*    HEADER    */
.header {
  height: 64px;
  // background: rgba(145, 188, 145, 0.3);
  // box-shadow: 0px 4px 4px rgb(0 0 0 / 24%);
  position: relative;
  display: none;
}

.header__container {
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 70%;
  justify-content: space-between;
  align-items: center;

  padding-top: 24px;
}

#menu_checkbox {
  display: none;
}

label {
  // position: absolute;
  top: 50%;
  margin: 0 auto;
  display: block;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  transition: 0.3s ease transform;
  cursor: pointer;
}

.burger {
  position: absolute;
  z-index: 3;
}

label div {
  width: 8px;
  height: 6px;
  background-color: #143240;
  margin-left: 0;
  margin-bottom: 6px;
  border-radius: 4px;
  transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom,
    0.3s ease background-color;
}

label div:first-child {
  width: 35px;
  background-color: #f0d3ab;
}

label div:nth-child(2) {
  width: 28px;
  background-color: #fc4953;
}

label div:last-child {
  width: 43px;
  margin-bottom: 0;
  background-color: #64b78b;
}

#menu_checkbox:checked + label {
  transform: translateY(-50%) rotateZ(-90deg);
}

#menu_checkbox:checked + label div {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin-left: 12px;
  margin-bottom: 3px;
  background-color: #fc4953;
}
/*switcher*/

.header__game-mode {
  display: flex;
  width: 190px;
  justify-content: space-between;
  position: relative;
}

.switch {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: absolute;
  /* top: 50%; */
  left: 54%;
  transform: translateX(-50%) translateY(-50%);
}

.switch #switch_checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #754c8f70;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

#switch_checkbox:checked + .slider {
  background-color: #00f5a596;
  background-color: #64b78b;
}

#switch_checkbox:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

#switch_checkbox:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.header__train-mode,
.header__play-mode {
  font-family: "Countryhouse";
  font-size: 26px;
}

.header__train-mode {
  position: absolute;
  left: 0px;
  transform: translateY(-50%);
  color: #9c27b0;
}

.header__play-mode {
  position: absolute;
  right: 0px;
  transform: translateY(-50%);
  color: #21c970;
}

.disabled {
  color: gray;
}
@media (max-width: 1024px) {
  .header__container {
    max-width: 100%;
  }
}
